@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

@font-face {
    font-family: miFuente;
    src: url('../fuente/coolvetica\ rg.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header h1{
    font-family: miFuente;
    font-size: 120px;
    color: #0a2ff1;
    margin: 30px 0;
}

header p{
    font-weight: lighter;
    font-size: 40px;
    color: #04146c;
}

header p span{
    font-weight: bold;
}

main{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.container{
    width: 25%;
    padding: 1em;
    background-color: #eff2ff;
}

.container h4, h2, p{
    font-size: 24px;
    color: #04146c;
}

.container img{
    width: 30%;
}

.container h4{
    font-style: italic;
    font-weight: lighter;
    
}

.container h2{
    font-weight: bold;
    
}

.container p{
    font-weight: normal;
    color: black;
}